img{
    width: 100%;
    height: auto;
}

.h1 {
    text-align: center;
}

#first {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
}

.nr1{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.nr2{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

footer {
}